*.pdf
*.joblib
*.pkl
**/*.pkl
**/*.png
**/*.pth
**/*raw
**/*runs
ML-exercises/**/*data
ML-homeworks/**/*data

**/*rar
*.zip
__MACOSX/


# Bỏ qua notebook cache
.ipynb_checkpoints/

# Bỏ qua file tạm
__pycache__/
*.log
